

body{
background: url("images/concrete_seamless.png")!important;
}

h2 { font-family: 'Times New Roman', Times, serif;
    font-weight: bold
}

.myname {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  30px;

}